# Project exclude paths
/venv/
/geckodriver.log
/.idea/.gitignore
/.idea/csv-plugin.xml
/.idea/kpfu_parser.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/__pycache__
/.idea
